@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(20, 18, 18);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

.formulario {
    background-color: #333;
    padding: 20px;
    max-width: 70%;
    width: 100%;
    border-radius: 24px;
}

label {
  color: white;
  margin-bottom: 20px;

}